@using Microsoft.AspNetCore.Identity
@using Souq.Tables
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IRepository<User> MyUser
@inject IRepository<Cart> _Cart
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Souq</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/header&footer.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)



</head>
<body>
    <header>
        <div class="container" dir="rtl">
            <div class="row justify-content-between text-center container  ">
                <div class="login-container">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <h6 class="text-white login pt-3 pb-2">
                            <a asp-action="index" asp-controller="home" class="text-decoration-none text-white"> مرحبا : <span> @MyUser.Find(s => s.AppUserId == UserManager.GetUserId(User)).SingleOrDefault().FullName </span> </a> <a asp-action="logout" asp-controller="account" class="text-decoration-none text-white">
                                <i class="fas fa-sign-in-alt pr-1"> </i>
                            </a>
                            <a href="./contactUs.html" class="text-decoration-none text-white pr-2"> اتصل بنا <i class="fas fa-phone-alt"></i> </a>
                        </h6>
                    }
                    else
                    {
                        <h6 class="text-white login pt-3 pb-2">

                            <a asp-action="login" asp-controller="account" class="text-decoration-none text-white">تسجيل الدخول </a>
                            / <a asp-action="signup" asp-controller="account" class="text-decoration-none text-white"> التسجيل </a>
                            / <a asp-action="signupseller" asp-controller="account" class="text-decoration-none text-white">التسجيل كبائع </a>

                        </h6>
                    }

                </div>
                <div class="d-flex text-center contact-container">
                    <h6 class=" contact text-white pt-3  pb-2 pl-2">
                        etshdev@gmail.com <i class="fas fa-envelope pr-2"></i>
                    </h6>
                    <h6 class="contact text-white pt-3 pb-2 pr-4"> 01025399149 <i class="fas fa-phone-alt pr-2"></i> </h6>
                </div>
            </div>
        </div>
        <!-- Nav Bar -->
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="MainNav pb-0 pt-2" dir="rtl">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent container px-0 py-2 ">
                        <a class="navbar-brand mx-0 " href="#"> <img src="~/assets/logo.png" class="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto  justify-content-between  ">

                                <li class="nav-item  ">
                                    <a class="nav-link text-white" asp-action="index" asp-controller="home">الرئيسية</a>
                                </li>
                                <li class="nav-item  ">
                                    <a class="nav-link text-white" asp-action="Products" asp-controller="Product">المنتجات</a>
                                </li>
                                @if (User.IsInRole("SellerRole"))
                                {
                                    <li class="nav-item  ">
                                        <a class="nav-link text-white" asp-action="MyProducts" asp-controller="product">منتجاتي</a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a class="nav-link btn  text-white px-5" asp-action="addproduct" asp-controller="Product">اضافة منتج</a>
                                    </li>
                                }
                                else
                                {
                            <li class="nav-item  ">
                                  @{ 
                                      var CartId = _Cart.Find(x => x.AppUserId == UserManager.GetUserId(User)).FirstOrDefault().Id; 
                                  }
                                <a class="nav-link text-white" asp-action="mycart" asp-controller="cart" asp-route-id="@CartId">عربة التسوق </a>
                            </li>
                                }

                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        }

    </header>


    @RenderBody()



    <footer class=" footer text-white bg-primary text-center mt-5">
        <div class="container">
            &copy; 2020 - SouQ - <a href="https://www.facebook.com/etsh.74/" class="text-decoration-none text-white ">Mohamed Hesham</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
